#googleMapContainer	{
	margin-top: 20px;
	width: 100%;
	height: 600px;
}

/* se elige un color de fondo y se le asigna el tamaño del alto de la página,
además se asigna un ancho mínimo y una familia de fuentes */
body
{
	padding: 0px;
	margin: auto;
	background-color: #fff5e6;
	font-family: 'Baloo Bhaina', cursive;
	min-width: 480px;
}


/* se crea un estilo para hacer una división del ancho de la página
y que sea semitransparente para el título de la página */
#barracabecera
{
	height: 110px;
	background-color: white;
	opacity: 0.80;
	margin: 0px;
	position: relative;

}

/* se elige el color y tamaño del título general de la pagina */
#textocabecera
{
	position: relative;
	text-align: center;
	color: #007F5D;
	font-size: 26px;
	top: 10px;
}

/* se eligen las características del texto del título */
.textotitulo
{
	font-size: 20px;
	position: relative;
	text-align: center;
	top: 10px;
}


/* se crea un estilo para hacer una división del ancho de la página
y que sea semitransparente para el menú de la página */
#barramenu
{
	height: 42px;
	background-color: white;
	opacity: 0.80;
	margin: 0 auto;
	text-align: center;
	position: relative;
	top: -38px
}

/* se elige el ancho máximo del menú */
#menu
{
	height: 40px;
	width: 900px;
	position: relative;
	top: 2px;
	margin: 0 auto;
}


/* se crea el estilo del grupo de botones del menú*/
.botones .boton
{
    background-color: white;
    border: none;
    color: white;

    min-width: 130px;
    height: 40px;

    text-align: center;
	color: black;
    display: inline-block;
    font-size: 20px;
    font-family: 'Baloo Bhaina', cursive;
    cursor: pointer;
    transition-duration: 0.4s;
    position: relative;
    float: center;
}

/* se elige el comportamineto de los botones al pasar el cursor sobre ellos */
.botones .boton:hover
{
    background-color: #007F5D;
    color: white;
    transition: all 0.8s

}

/* se elige el comportamineto de los botones al hacer clic sobre ellos */
.botones .boton:active
{
    background-color: #F3A400;
    color: black;
}

/* se elige el mismo color del "hover" para dar la apariencia de que estuviera seleccionado  */
#botonselc
{
	background-color: #007F5D;
    color: white;
}

/* se eligen las característacas del espacio en donde irá
todo el contenido de la página y se le dá un ahcho relativo*/
#contenido
{
	align-items: center;
	width: 80%	;
	position: relative;
	margin: 0px auto;
	padding: 0px 0px 0px 0px;
}

/* se eligen las características del lugar donde irá el titulo de la página */
#titular
{
	height: 50px;
	min-width: 180px;
	position: relative;
	float: center;
	top: 0px;
    align-items: center;
}

/* se elige un margen de 100px para el titulo de la página */
#antes
{
	position: relative;
	float: left;
	margin-left: 100px;
	z-index: 0;
}

/* se elige un ahcho de 200px para el título de la página */
#titulo
{
	align-items: center;
	width: 200px;
	height: 50px;
	background-color: #F3A400;
	position: relative;
	float: left;
}

/* se elige la caracteristica float left para que la imágen quede al lado del título */
#despues
{
	position: relative;
	float: left;
	z-index: 0;
}

#mapa
{
	position: relative;
	top: -30px;
	margin: 0 auto;
	z-index: 1;
}

/* se eligen las caracteristicas de las dos imágenes que acompañan el título */
.imagentitulo
{

	height: 50px;
	margin: 0px;
	padding: 0px;
	position: relative;
}

/* se eligen las características del espacio para los parrafos */
#parrafo
{
	font-family: 'Cabin', sans-serif;
	font-size: 18px;
	align-items: center;
	width: 95%;

	position: relative;
	margin: 0px;
	padding: 0px;
	text-align: justify;
}


#canvas
{
	width: 95%;
	position: relative;
	margin: 0px;
	padding: 0px;

}


/* se modifican algunas clases para cuando la ventana mide menos de 800px */
@media only screen and (max-width: 1000px)
{

/* se cambia el ancho y alto del menú */
	#menu
	{
		height: 250px;
		width: 200px;
	}

/* se cambia el alto de la barra del menú */
	#barramenu
	{
		height: 250px;
	}

/* se cambia a vertical el grupo de botones */
	.botones .boton
	{
	    min-width: 200px;
	    display: block;
	}
}
